<h2 style="margin-left: 15%;
           font-size:25px;
           color:rgb(61, 61, 61);
           margin-top:5%;">{{cityName}}</h2>
<h2 style="margin-left: 15%;
           font-size:25px;
           color:rgba(0, 99, 180, 0.795);
           margin-top:5%;">{{currentTemp}}</h2>

<h2 style="margin-left: 15%;
           font-size:25px;
           color:rgba(0, 99, 180, 0.795);
           margin-top:5%;">{{currentWeather}}</h2>

<h2 style="margin-left: 15%;
           font-size:25px;
           color:rgba(0, 129, 6, 0.795);
           margin-top:5%;">{{tomorrowTemp}}</h2>

<h2 style="margin-left: 15%;
           font-size:25px;
           color:rgba(0, 129, 6, 0.795);
           margin-top:5%;">{{tomorrowWeather}}</h2>

<h2 style="margin-left: 15%;
           font-size:25px;
           color:rgba(184, 0, 0, 0.795);
           margin-top:5%;">{{Error}}</h2>